<app-navbar></app-navbar>

<div class="layout">
<div class="aot">
    <div class="content">
        <h2>Frontend Developer</h2>
        <h1>Dennis King Tran</h1>
        <div>
            <button (click)="scrollTo('featured-projects')">
                Check my Work
            </button>
            <button (click)="scrollTo('contactform')">
                Contact me
            </button>
        </div>
    </div>
    <!--Marquee- Effekt-->
    <div class="marquee">
    <div class="marquee__inner" aria-hidden="true">
        <span>Available for remote work</span><span class="bullet">•</span><span>Frontend Developer</span><span class="bullet">•</span><span>Based in Augsburg</span><span class="bullet">•</span><span>Open to work</span><span class="bullet">•</span>
        <span>Available for remote work</span><span class="bullet">•</span><span>Frontend Developer</span><span class="bullet">•</span><span>Based in Augsburg</span><span class="bullet">•</span><span>Open to work</span><span class="bullet">•</span>
        <span>Available for remote work</span><span class="bullet">•</span><span>Frontend Developer</span><span class="bullet">•</span><span>Based in Augsburg</span><span class="bullet">•</span><span>Open to work</span><span class="bullet">•</span>
        <span>Available for remote work</span><span class="bullet">•</span><span>Frontend Developer</span><span class="bullet">•</span><span>Based in Augsburg</span><span class="bullet">•</span><span>Open to work</span><span class="bullet">•</span>
        <span>Available for remote work</span><span class="bullet">•</span><span>Frontend Developer</span><span class="bullet">•</span><span>Based in Augsburg</span><span class="bullet">•</span><span>Open to work</span><span class="bullet">•</span>
        <span>Available for remote work</span><span class="bullet">•</span><span>Frontend Developer</span><span class="bullet">•</span><span>Based in Augsburg</span><span class="bullet">•</span><span>Open to work</span><span class="bullet">•</span>
    </div>
</div>
</div>
</div>

