@import '../../../styles.scss';

$color-green: #3DCFB6;

.layout {
    background: linear-gradient(55.22deg, #1C1C1C 36.26%, #08463B 93.28%);
    width: 100%;
}

.aot {
    height: 100vh;
    display: grid;
    grid-template-rows: 1fr auto;
    font-family: 'Karla';
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1920px;
    width: auto;
}

.content div {
    display: flex;
    gap: 48px;

    button {
        @include button;

    }
}

h2 {
    font-size: 40px;
    font-family: 'FiraCode';
    font-weight: 400;
    margin: 0;
    text-align: center;
}

h1 {
    font-size: 128px;
    font-family: 'Karla';
    font-weight: 700;
    margin: 48px 0;
    text-align: center;
}

.marquee {
    max-width: 1980px;
    width: 100%;
    height: 62px;
    background: rgba(255, 255, 255, 0.12);
    text-align: center;
    display: flex;
    align-items: center;
    backdrop-filter: blur(5.3px);
    padding: 12px 32px;
    overflow: hidden;
    position: relative;
    bottom: 80px;
    transform: rotate(-3deg);


    &__inner {
        display: flex;
        white-space: nowrap;
        animation: marquee 30s linear infinite;
        animation-delay: 1ms;
    }

    span {
        font-size: 32px;
        font-family: 'Karla';
        font-weight: 400;
        padding-left: 8px;
        @include color;
    }

    .bullet {
        margin: 0 56px;
    }
}

@keyframes marquee {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-33.33%);
    }
}