<app-navbar></app-navbar>

<div class="layout">
    <div class="aot">
        <div class="content">
            <h2>Frontend Developer</h2>
            <h1>Dennis King Tran</h1>
            <div>
                <button (click)="scrollTo('featured-projects')">
                    <p>Check my Work</p>
                </button>
                <button (click)="scrollTo('contactform')">
                    <p>Contact me</p>
                </button>
            </div>
        </div>
        <!--Marquee- Effekt-->
        <div class="marquee">
            <div class="marquee__inner" aria-hidden="true">
                <span>Available for remote work</span><span class="bullet">•</span><span>Frontend Developer</span><span class="bullet">•</span><span>Based in Augsburg</span><span class="bullet">•</span><span>Open to work</span><span class="bullet">•</span>
                <span>Available for remote work</span><span class="bullet">•</span><span>Frontend Developer</span><span class="bullet">•</span><span>Based in Augsburg</span><span class="bullet">•</span><span>Open to work</span><span class="bullet">•</span>
                <span>Available for remote work</span><span class="bullet">•</span><span>Frontend Developer</span><span class="bullet">•</span><span>Based in Augsburg</span><span class="bullet">•</span><span>Open to work</span><span class="bullet">•</span>
                <span>Available for remote work</span><span class="bullet">•</span><span>Frontend Developer</span><span class="bullet">•</span><span>Based in Augsburg</span><span class="bullet">•</span><span>Open to work</span><span class="bullet">•</span>
                <span>Available for remote work</span><span class="bullet">•</span><span>Frontend Developer</span><span class="bullet">•</span><span>Based in Augsburg</span><span class="bullet">•</span><span>Open to work</span><span class="bullet">•</span>
                <span>Available for remote work</span><span class="bullet">•</span><span>Frontend Developer</span><span class="bullet">•</span><span>Based in Augsburg</span><span class="bullet">•</span><span>Open to work</span><span class="bullet">•</span>
            </div>
        </div>
        <div class="left-btm-container">
            <span class="arrow">
                <img src="/assets/img/icons/aot/arrow-down.png" alt="">
            </span>
            <div class="line-break-left"></div>
        </div>
        <div class="right-btm-container">
            <p>dennis.tran&#64;hotmail.de</p>
            <div class="icons">
                <span class="icon"><img src="/assets/img/icons/aot/github.png" alt=""></span>
                <span class="icon"><img src="/assets/img/icons/aot/linkedin.png" alt=""></span>
            </div>
            <div class="line-break-right"></div>
        </div>
    </div>
</div>

