<app-header></app-header>

<div class="layout">
    <div class="aot">
        <div class="content">
            <h2>{{ languageService.translate('hero.title') }}</h2>
            <h1>Dennis Tran</h1>
            <div>
                <button class="btn-text" (click)="scrollTo('featured-projects')">
                    <span class="btn-text" [attr.data-text]="languageService.translate('hero.checkWork')">{{ languageService.translate('hero.checkWork') }}</span>
                </button>
                <button class="btn-text" (click)="scrollTo('contactform')">
                    <span class="btn-text" [attr.data-text]="languageService.translate('hero.contact')">{{ languageService.translate('hero.contact') }}</span>
                </button>
            </div>
        </div>
        <!--Marquee- Effekt-->
        <div class="marquee">
            <div class="marquee__inner" aria-hidden="true">
                <span>{{ languageService.translate('hero.marquee1') }}</span><span class="bullet">•</span><span>{{ languageService.translate('hero.marquee2') }}</span><span class="bullet">•</span><span>{{ languageService.translate('hero.marquee3') }}</span><span class="bullet">•</span><span>{{ languageService.translate('hero.marquee4') }}</span><span class="bullet">•</span>
                <span>{{ languageService.translate('hero.marquee1') }}</span><span class="bullet">•</span><span>{{ languageService.translate('hero.marquee2') }}</span><span class="bullet">•</span><span>{{ languageService.translate('hero.marquee3') }}</span><span class="bullet">•</span><span>{{ languageService.translate('hero.marquee4') }}</span><span class="bullet">•</span>
                <span>{{ languageService.translate('hero.marquee1') }}</span><span class="bullet">•</span><span>{{ languageService.translate('hero.marquee2') }}</span><span class="bullet">•</span><span>{{ languageService.translate('hero.marquee3') }}</span><span class="bullet">•</span><span>{{ languageService.translate('hero.marquee4') }}</span><span class="bullet">•</span>
                <span>{{ languageService.translate('hero.marquee1') }}</span><span class="bullet">•</span><span>{{ languageService.translate('hero.marquee2') }}</span><span class="bullet">•</span><span>{{ languageService.translate('hero.marquee3') }}</span><span class="bullet">•</span><span>{{ languageService.translate('hero.marquee4') }}</span><span class="bullet">•</span>
                <span>{{ languageService.translate('hero.marquee1') }}</span><span class="bullet">•</span><span>{{ languageService.translate('hero.marquee2') }}</span><span class="bullet">•</span><span>{{ languageService.translate('hero.marquee3') }}</span><span class="bullet">•</span><span>{{ languageService.translate('hero.marquee4') }}</span><span class="bullet">•</span>
                <span>{{ languageService.translate('hero.marquee1') }}</span><span class="bullet">•</span><span>{{ languageService.translate('hero.marquee2') }}</span><span class="bullet">•</span><span>{{ languageService.translate('hero.marquee3') }}</span><span class="bullet">•</span><span>{{ languageService.translate('hero.marquee4') }}</span><span class="bullet">•</span>
            </div>
        </div>
        <div class="bottom-container">
            <div class="left-btm-container">
                <span class="arrow">
                    <img src="/assets/img/icons/aot/arrow-down.png" alt="">
                </span>
                <div class="line-break-left"></div>
            </div>
            <div class="right-btm-container">
                <p>dennis.tran&#64;hotmail.de</p>
                <div class="icons">
                    <a href="mailto:dennis.tran@hotmail.de" class="icon mail"><img src="/assets/img/icons/aot/mail.png" alt=""></a>
                    <a href="https://github.com/denniskingtran" class="icon"><img src="/assets/img/icons/aot/github.png" alt=""></a>
                    <a href="https://github.com/denniskingtran" class="icon"><img src="/assets/img/icons/aot/linkedin.png" alt=""></a>
                </div>
                <div class="line-break-right"></div>
            </div>
        </div>
    </div>
</div>

