<section id="contactform"></section>

<div class="contactform-container-all">
    <div class="contact-form-content">
        <div class="text-content">
            <h3>Contact me</h3>
            <h1>Let's work <br>
                together</h1>

            <div>
                <h2>Got a problem to solve?</h2>
                <p>Encourage people to contact you and describe what role 
                    you are interested in. Show that you will add value to 
                    their projects through your work. 
                    <br>
                    <br>
                    Need a Frontend developer? <span>Let’s talk!</span></p>
            </div>
        </div>
        <div class="contact-form">
            <form (ngSubmit)="onSubmit()" #f="ngForm" novalidate autocomplete="off">
                <div class="contact-form-container">
                    <div class="name-form" [class.input-error]="hasError('name')">
                        <span class="question-span">What´s your name?</span>
                        <div>
                            <input name="name" [(ngModel)]="name" #nameCtrl="ngModel" type="text" autocomplete="off" [placeholder]="getPlaceholder('name', 'Your name goes here?')" (blur)="onBlur('name')" (focus)="onFocus('name')" required />
                        </div>
                    </div>
                </div>

                <div class="contact-form-container">
                    <div class="email-form" [class.input-error]="hasError('email')">
                        <span class="question-span">What´s your email?</span>
                        <div>
                            <input name="email" [(ngModel)]="email" #emailCtrl="ngModel" type="email" autocomplete="off" [placeholder]="getPlaceholder('email', 'youremail@email.com')" (blur)="onBlur('email')" (focus)="onFocus('email')" required />
                        </div>
                    </div>
                </div>

                <div class="contact-form-container">
                    <div class="message-form" [class.input-error]="hasError('message')">
                        <span class="question-span">How can I help you?</span>
                        <div>
                            <input name="message" [(ngModel)]="message" #messageCtrl="ngModel" minlength="10" type="text" autocomplete="off" [placeholder]="getPlaceholder('message', 'Hello Alex, I am interested in...')" (blur)="onBlur('message')" (focus)="onFocus('message')" />
                        </div>
                    </div>
                </div>

                <div class="privacy-policy-container">
                    <div class="privacy-policy-checkbox-content">
                        <label class="custom-checkbox">
                            <input type="checkbox" name="acceptPrivacy" [(ngModel)]="acceptPrivacy" />
                            <img alt="Privacy Checkbox" [src]="acceptPrivacy ? '/assets/img/icons/contact/check_box.png' : '/assets/img/icons/contact/check_box_outline_blank.png'">
                        </label>
                        <span>I've read the <a href="privacy-policy">privacy policy</a> and agree to the processing of my data as outlined.</span>
                    </div>
                    <div class="error-message-privacy-policy-container">
                        <span class="error-message-privacy-policy" *ngIf="submitted && !acceptPrivacy"> Please accept the privacy policy. </span>
                    </div>
                    <div class="success-message-privacy-policy-container" *ngIf="formSuccess">
                        <span class="form-success-message"> Thank you for contacting me! The email has been sent successfully. </span>
                    </div>
                    <div class="send-btn-container">
                        <button type="submit" [disabled]="!name || !email || !acceptPrivacy">
                            <span class="btn-text" data-text="Say Hello ;)">Say Hello ;)</span>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>