<div>
    <!-- Monoline - logo only -->
    <svg class="logo logo-small" width="76" height="46" aria-label="DT Logo">
      <title>DT Logo</title>
      <text x="48%" y="98%" text-anchor="middle" font-family="sans-serif" font-weight="700" font-size="60" fill="#E8B91B">DT</text>
    </svg>
    
    <!-- Monoline - logo + name (Dennis Tran) -->
    <svg class="logo logo-name" width="178" height="46" aria-label="DT Dennis Logo">
      <title>DT Name Logo</title>
      <text x="-0.5%" y="98%" font-family="sans-serif" font-weight="700" font-size="60" fill="#E8B91B">DT</text>
      <text x="46%" y="47%" font-family="sans-serif" font-weight="700" font-size="28" fill="#FFFFFF">Dennis</text>
      <text x="46.5%" y="98%" font-family="sans-serif" font-weight="700" font-size="28" fill="#FFFFFF">Tran</text>
    </svg>
</div>

