
<app-header></app-header>

	<div class="legal-content">
		<div class="text-content">
			<button (click)="goHome()" aria-label="Zurück zur Hauptseite" class="back-button">
				<img src="/assets/img/icons/imprint/arrow_back.png" alt="Zurück">
			</button>
			
			<h1 [innerHTML]="safeTranslate('legal.title')"></h1>
			<h3 [innerHTML]="safeTranslate('legal.subtitle')"></h3>
			<p><span>•</span>Dennis King Tran</p>
			<p><span>•</span>Offinger Str. 17a</p>
			<p><span>•</span>86156 Augsburg</p>

			<div class="legal-notice-text">
			<h2 [innerHTML]="safeTranslate('legal.exploring.title')"></h2>
			<p [innerHTML]="safeTranslate('legal.exploring.text')"></p>

			<h2 [innerHTML]="safeTranslate('legal.acceptance.title')"></h2>
			<p [innerHTML]="safeTranslate('legal.acceptance.text')"></p>

			<h2 [innerHTML]="safeTranslate('legal.scope.title')"></h2>
			<p [innerHTML]="safeTranslate('legal.scope.text')"></p>

			<h2 [innerHTML]="safeTranslate('legal.proprietary.title')"></h2>
			<p [innerHTML]="safeTranslate('legal.proprietary.text')"></p>

			<h2 [innerHTML]="safeTranslate('legal.use.title')"></h2>
			<p [innerHTML]="safeTranslate('legal.use.text')"></p>

			<h2 [innerHTML]="safeTranslate('legal.disclaimer.title')"></h2>
			<p [innerHTML]="safeTranslate('legal.disclaimer.text')"></p>

			<h2 [innerHTML]="safeTranslate('legal.indemnity.title')"></h2>
			<p [innerHTML]="safeTranslate('legal.indemnity.text')"></p>

			<h2 [innerHTML]="safeTranslate('legal.contact.title')"></h2>
			<p [innerHTML]="safeTranslate('legal.contact.text')"></p>
			<p class="legal-date">Date: November 26, 2025</p>
			</div>
		</div>
	</div>

