
<app-header></app-header>

	<div class="legal-content">
		<div class="text-content">
			<button (click)="goHome()" aria-label="Zurück zur Hauptseite" class="back-button">
				<img src="assets/img/icons/imprint/arrow_back.png" alt="Zurück">
			</button>
			
			<h1 [innerHTML]="translations['legal.title']"></h1>
			<h3 [innerHTML]="translations['legal.subtitle']"></h3>
			<p><span>•</span>Dennis King Tran</p>
			<p><span>•</span>Offinger Str. 17a</p>
			<p><span>•</span>86156 Augsburg</p>

			<div class="legal-notice-text">
			<h2 [innerHTML]="translations['legal.exploring.title']"></h2>
			<p [innerHTML]="translations['legal.exploring.text']"></p>

			<h2 [innerHTML]="translations['legal.acceptance.title']"></h2>
			<p [innerHTML]="translations['legal.acceptance.text']"></p>

			<h2 [innerHTML]="translations['legal.scope.title']"></h2>
			<p [innerHTML]="translations['legal.scope.text']"></p>

			<h2 [innerHTML]="translations['legal.proprietary.title']"></h2>
			<p [innerHTML]="translations['legal.proprietary.text']"></p>

			<h2 [innerHTML]="translations['legal.use.title']"></h2>
			<p [innerHTML]="translations['legal.use.text']"></p>

			<h2 [innerHTML]="translations['legal.disclaimer.title']"></h2>
			<p [innerHTML]="translations['legal.disclaimer.text']"></p>

			<h2 [innerHTML]="translations['legal.indemnity.title']"></h2>
			<p [innerHTML]="translations['legal.indemnity.text']"></p>

			<h2 [innerHTML]="translations['legal.contact.title']"></h2>
			<p [innerHTML]="translations['legal.contact.text']"></p>
			<p class="legal-date">Date: November 26, 2025</p>
			</div>
		</div>
	</div>

