<section id="about-me"></section>

<div class="about-me-container">
    <div class="image-container" (mouseenter)="onMouseEnter()">
        <img src="/assets/img/me/DSC_1000-min.jpg" alt="">
        <img class="background-image" [class.hovered]="hovered" src="/assets/img/background/Capa_1.png" alt="">
    </div>
    <div class="text-content">
        <div>
            <h3>Who I am</h3>
        </div>
        <div class="text-container">
            <h1>About Me</h1>
            <p>Hey there, I'm Dennis! Write some information about yourself that is IT related. Why are you passionate about coding? What is your source of inspiration for improving your programming skills?</p>
            <div class ="info-boxes">
                <div class="text-box">
                    <img src="/assets/img/icons/about-me/location_on.png" alt="">
                    <p>Where are you based? Would you be open to working remotely or potentially relocating?</p>
                </div>
                <div class="text-box">
                    <img src="/assets/img/icons/about-me/cognition.png" alt="">
                    <p>Show that you are open-minded. Are you enthusiastic about learning new technologies and continually improving your skills?</p>
                </div>
                <div class="text-box">
                    <img src="/assets/img/icons/about-me/new_releases.png" alt="">
                    <p>A brief description of your problem-solving approach. 
                        Do you learn from each challenge as you search for the most efficient or elegant solution? You can include some keywords like: analytical thinking, creativity, persistence and  collaboration.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
