<section id="about-me"></section>

<div class="about-me-container">
    <div class="image-container" (mouseenter)="onMouseEnter()">
        <img src="assets/img/me/DSC_1000-min.jpg" alt="">
        <img class="background-image" [class.hovered]="hovered" src="assets/img/background/Capa_1.png" alt="">
    </div>
    <div class="text-content">
        <div>
            <h3>{{ languageService.translate('about.subtitle') }}</h3>
        </div>
        <div class="text-container">
            <h1>{{ languageService.translate('about.title') }}</h1>
            <p>{{ languageService.translate('about.intro') }}</p>
            <div class ="info-boxes">
                <div class="text-box">
                    <div>
                        <img src="assets/img/icons/about-me/location_on.png" alt="">
                    </div>
                    <p>{{ languageService.translate('about.location') }}</p>
                </div>
                <div class="text-box">
                    <div>
                        <img src="assets/img/icons/about-me/cognition.png" alt="">
                    </div>
                    <p>{{ languageService.translate('about.mindset') }}</p>
                </div>
                <div class="text-box">
                    <div>
                        <img src="assets/img/icons/about-me/new_releases.png" alt="">
                    </div>
                    <p>{{ languageService.translate('about.approach') }}</p>
                </div>
            </div>
        </div>
    </div>
</div>
