@import "../../../styles.scss";

$color-green: #3DCFB6;


h3 {
    font-family: 'Karla';
    font-weight: 500;
    font-size: 24px;
    color: $color-green;
}

h1 {
    font-family: 'FiraCode';
    font-weight: 700;
    font-size: 64px;
    color: $color-green;
    margin-top: 0;
    margin-bottom: 40px;
}

.text-content {
    margin-top: 80px;
    margin-bottom: 20px;
    max-width: 840px;
}

.about-me-container {
    display: flex;
    justify-content: space-between;
    max-width: 1920px;
    gap: 96px;
    width: auto;
    padding: 96px;
}

.image-container {
    display: flex;
    justify-content: center;
    position: relative;

    img {
        width: 568px;
        height: 568px;
        border-radius: 30px;
        object-fit: cover;
        z-index: 2;
    }

    .background-image {
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        transition: transform 0.25s ease-out;

        &.hovered {
            transform: translate(-46px, 30px);
            /* Nach unten links */
        }

        @media (max-width: 768px) {
            &.hovered {
                transform: translate(-15px, 15px);
                /* Kleinere Bewegung auf Mobile */
            }
        }
    }
}

.text-container {
    @include text-container;
}

.info-boxes {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-top: 32px;

    .text-box {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        gap: 24px;

        p {
            display: flex;
            margin: 0;
        }

        img {
            width: 32px;
            height: 32px;
        }
    }
}




@keyframes moveBackground {
    0% {
        transform: translate(0, 0);
    }

    100% {
        transform: translate(-46px, 30px);
    }
}