<section id="featured-projects"></section>

<div class="featured-projects-container">
    <div class="text-content">
        <div>
            <h3>{{ languageService.translate('projects.header') }}</h3>
            <h1>{{ languageService.translate('projects.title') }}</h1>
            <p>{{ languageService.translate('projects.intro') }}</p>
        </div>

        <div class="projects-container">
            <div class="project-description"
                 *ngFor="let project of projects; let i = index"
                 [id]="project.id"
                 (mouseenter)="showPreview(project.image, project.background, i)"
                 (mouseleave)="clearPreview()"
                 (click)="openModal(i)">
                <span>{{ project.title }}<img class="hover-icon" src="/assets/img/icons/featured-projects/base/arrow_outward.png" alt="arrow"></span>
                <p>
                    <ng-container *ngFor="let t of project.tech; let i = index">
                        {{ t }}<span *ngIf="i < project.tech.length - 1" class="pipe">|</span>
                    </ng-container>
                </p>
            </div>
        </div>
    </div>

    <div class="interactive-container">
        <img class="interactive-bg"
             [src]="displayedBackground"
             [class.visible]="hoveredBackground"
             [style.transform]="'translate(-50%,-50%) translate(30px, 30px) translateY(' + (displayedOffset || 0) + 'px)'"
             alt="background">

        <img class="interactive-img"
             [src]="displayedImage"
             [class.visible]="hoveredImage"
             [style.transform]="'translate(-50%,-50%) translateY(' + (displayedOffset || 0) + 'px)'"
             alt="preview">
    </div>
</div>

<app-project-modal
  [project]="projects[modalIndex]"
  [index]="modalIndex"
  [isOpen]="isModalOpen"
  (close)="closeModal()"
  (next)="nextModal()">
</app-project-modal>