<section id="featured-projects"></section>

<div class="featured-projects-container">
    <div class="text-content">
        <div>
            <h3>Portfolio</h3>
            <h1>Featured Projects</h1>
            <p>Explore a selection of my work here - Interact with projects to see my skills in action.</p>
        </div>
        <div class="projects-container">
            <div class="project-description">
                <p>Join</p>
                <p>HTML | CSS | JavaScript</p>
            </div>
            <div class="project-description">
                <p>El Pollo Loco</p>
                <p>HTML | CSS | JavaScript</p>
            </div>
            <div class="project-description">
                <p>Pokédex</p>
                <p>HTML | CSS | JavaScript</p>
            </div>
        </div>
        <div class="interactive-container">
            <!-- Container where project images or interactive elements will be placed -->
        </div>
        <div class="modal-wrapper">
            <!-- Show Modal with Overlay for a bigger sized preview -->
        </div>
    </div>
</div>