
<app-header></app-header>

	<div class="legal-content">
		<div class="text-content">
			<button (click)="goHome()" aria-label="Zurück zur Hauptseite" class="back-button">
				<img src="/assets/img/icons/imprint/arrow_back.png" alt="Zurück">
			</button>
			
			<h1>{{ languageService.translate('privacy.title') }}</h1>
			<h3>{{ languageService.translate('privacy.subtitle') }}</h3>
			<p><span>•</span>Dennis King Tran</p>
			<p><span>•</span>Offinger Str. 17a</p>
			<p><span>•</span>86156 Augsburg</p>

			<div class="legal-notice-text">
			<h2>{{ languageService.translate('privacy.intro.title') }}</h2>
			<p>{{ languageService.translate('privacy.intro.text') }}</p>

			<h2>{{ languageService.translate('privacy.collection.title') }}</h2>
			<p>{{ languageService.translate('privacy.collection.text') }}</p>

			<h2>{{ languageService.translate('privacy.use.title') }}</h2>
			<p>{{ languageService.translate('privacy.use.text') }}</p>

			<h2>{{ languageService.translate('privacy.storage.title') }}</h2>
			<p>{{ languageService.translate('privacy.storage.text') }}</p>

			<h2>{{ languageService.translate('privacy.rights.title') }}</h2>
			<p>{{ languageService.translate('privacy.rights.text') }} dennis.tran&#64;hotmail.de.</p>

			<h2>{{ languageService.translate('privacy.cookies.title') }}</h2>
			<p>{{ languageService.translate('privacy.cookies.text') }}</p>

			<h2>{{ languageService.translate('privacy.security.title') }}</h2>
			<p>{{ languageService.translate('privacy.security.text') }}</p>

			<h2>{{ languageService.translate('privacy.changes.title') }}</h2>
			<p>{{ languageService.translate('privacy.changes.text') }}</p>

			<h2>{{ languageService.translate('privacy.contactPrefix') }}</h2>
			<p>Email: dennis.tran&#64;hotmail.de
			<br>
			<br>
			Date: November 23, 2025</p>
			</div>
		</div>
	</div>

