<section id="skillset" tabindex="-1"></section>

<div class="layout">
    <div class="skillset-container">
        <div data-aos="zoom-in-up" data-aos-duration="2000" data-aos-once="false" class="text-content">
            <div>
                <h3>{{ languageService.translate('skills.subtitle') }}</h3>
            </div>
            <div class="text-container">
                <h1>{{ languageService.translate('skills.title') }}</h1>
                <p>{{ languageService.translate('skills.intro') }}</p>
                <div class ="info-boxes">
                    <div class="text-box">
                        <h2>{{ languageService.translate('skills.needSkill') }} <span class="colored-h2">{{ languageService.translate('skills.anotherSkill') }}</span></h2>
                    </div>
                    <div class="text-box">
                        <p>{{ languageService.translate('skills.contact') }}</p>
                    </div>
                    <button (click)="scrollTo('contactform')">
                        <span class="btn-text" [attr.data-text]="languageService.translate('skills.letsTalk')">{{ languageService.translate('skills.letsTalk') }}</span>
                    </button>
                </div>
            </div>
        </div>
        <div data-aos="zoom-in-up" data-aos-duration="2000" class="icons-container">
            <div *ngFor="let skill of skills; let i = index" class="icon-item">
                <img [src]="skill.icon" [alt]="skill.text">
                <span>{{ skill.text }}</span>
                <img *ngIf="i === skills.length - 1" src="assets/img/icons/skill-set/interest.png" alt="Interest" class="interest-image">
            </div>
        </div>
    </div>
</div>
