<section id="skillset"></section>

<div class="layout">
    <div class="skillset-container">
        <div class="text-content">
            <div>
                <h3>Technologies</h3>
            </div>
            <div class="text-container">
                <h1>Skill Set</h1>
                <p>A short introduction of your skills. Highlight your experience of  using different front-end technologies and emphasise your openness to learning and adapting to new technologies. Show how important it is for you to keep up with the rapid changes in web development.</p>
                <div class ="info-boxes">
                    <div class="text-box">
                        <h2>You need <span class="colored-h2">another skill?</span></h2>
                    </div>
                    <div class="text-box">
                        <p>Feel free to contact me. I look forward to expanding on my previous knowledge.</p>
                    </div>
                    <button (click)="scrollTo('contactform')">
                        <span class="btn-text" data-text="Let's talk">Let's talk</span>
                    </button>
                </div>
            </div>
        </div>
        <div class="icons-container">
            <div *ngFor="let skill of skills; let i = index" class="icon-item">
                <img [src]="skill.icon" [alt]="skill.text">
                <span>{{ skill.text }}</span>
                <img *ngIf="i === skills.length - 1" src="/assets/img/icons/skill-set/interest.png" alt="Interest" class="interest-image">
            </div>
        </div>
    </div>
</div>
