@import "../../../styles.scss";

$color-green: #3DCFB6;

.layout {
    background: radial-gradient(22.43% 43.85% at 1.22% 52.45%, rgba(8, 70, 59, 0.3) 0%, #1C1C1C 100%);
    width: 100%;
    position: relative;
    overflow: hidden;
}

@media (min-width: 1921px) {
    .layout {
        width: 100vw;
        left: 50%;
        right: 50%;
        margin-left: -50vw;
        margin-right: -50vw;
    }
}

.skillset-container {
    display: flex;
    justify-content: space-between;
    max-width: 1920px;
    margin: 0 auto;
    gap: 96px;
    width: 100%;
    padding: 96px;

    @media (max-width: 1300px) {
        padding: 48px;
    }

    @media (max-width: 1100px) {
        flex-direction: column;
        align-items: center;
        gap: 48px;
    }

    @media (max-width: 500px) {
        padding: 24px 24px;
        gap: 40px;
    }

    @media (max-width: 400px) {
        padding: 40px 16px;
        gap: 24px;
    }
}

h3 {
    font-family: 'Karla';
    font-weight: 500;
    font-size: 24px;
    color: $color-green;
}

h2 {
    font-family: 'FiraCode';
    font-weight: 700;
    font-size: 24px;
    line-height: 1.2;
    color: white;
    margin-top: 0;
    margin-bottom: 16px;
}

h1 {
    font-family: 'FiraCode';
    font-weight: 700;
    font-size: 64px;
    color: $color-green;
    margin-top: 0;
    margin-bottom: 40px;
    letter-spacing: -4%;
    white-space: nowrap;

    @media (max-width: 550px) {
        font-size: 56px;
        margin: 8px 0;
    }

    @media (max-width: 440px) {
        font-size: 40px;
    }
}

.colored-h2 {
    color: $color-green;
}

.text-container {
    @include text-container;
    flex: 0 0 50%;

    h1 {
        margin-bottom: 0;
        white-space: inherit;
    }

    p {
        font-family: 'Karla';
        font-weight: 400;
        font-size: 18px;
        color: white;
        margin-top: 0;
        line-height: 1.2;

        @media (max-width: 400px) {
            font-size: 16px;
        }
    }

    @media (max-width: 400px) {
        padding: 20px 20px;
    }
}

.text-content {
    margin-bottom: 20px;
    max-width: 100%;
}

.info-boxes {

    button {
        @include animated-button;
        margin-top: 16px;
    }
}

.icons-container {
    display: flex;
    gap: 68px;
    flex: 0 0 50%;
    flex-wrap: wrap;
    justify-content: start;

    @media (max-width: 883px) {
        gap: 40px;
        justify-content: center;
    }

    .icon-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 8px;
        width: 100px;
        position: relative;

        @media (max-width: 630px) {
            width: 80px;
        }

        img {
            width: 64px;
            height: 64px;
            object-fit: contain;
            transition: all 125ms ease-out;

            &:hover {
                transform: scale(1.05);
            }
        }

        span {
            color: white;
            font-family: 'Karla';
            font-size: 16px;
            text-align: center;
            transition: color 125ms ease-out;
        }

        &:last-child:hover span {
            color: $color-green;
        }

        .interest-image {
            position: absolute;
            width: 188px;
            height: 129px;
            opacity: 0;
            transition: opacity 125ms ease-out;
            top: -109px;
            left: 90px;
            transform: translateX(-50%);
            pointer-events: none;
        }

        &:last-child:hover .interest-image {
            opacity: 1;
        }
    }
}