* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    margin: 0 auto;
    padding: 0;
    font-family: 'FiraCode', 'Karla', sans-serif;
    background-color: #1c1c1c;
    color: white;
    max-width: 1920px;
}

@font-face {
    font-family: 'FiraCode';
    src: url('/assets/fonts/FiraCode-VariableFont_wght.ttf');
}

@font-face {
    font-family: 'Karla';
    src: url('/assets/fonts/Karla-VariableFont_wght.ttf');
}

@mixin text-container {
    display: flex;
    flex-direction: column;
    border: 1px solid $color-green;
    border-radius: 30px;
    background-color: rgba($color-green, 0.1);
    padding: 32px;
}

@mixin color {
    color: #3DCFB6;
}

@mixin color-bg {
    background-color: #3DCFB6;
}

@mixin color-border {
    border-color: #3DCFB6;
}

@mixin display-flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin logo {
    cursor: pointer;
    transition: transform 300ms ease-out;
}

@mixin button {
    border: 1px solid #FFFFFF;
    border-radius: 100px;
    background-color: transparent;
    cursor: pointer;
    font-family: 'Karla';
    height: 48px;
    color: white;
    padding: 0px 24px;
    font-size: 18px;
    @include display-flex-center;
    transition: color 300ms ease;

    &:hover {
        border-color: $color-green;
        color: $color-green;
    }
}

@mixin btn-text-animation {}

.logo-small text {
    fill: #3DCFB6;
}

.logo-small:hover text {
    fill: none;
    stroke: #3DCFB6;
    stroke-width: 1;
}

.logo-name text {
    fill: #FFFFFF;
}

.logo-name text:nth-child(1),
.logo-name text:nth-child(2) {
    fill: #3DCFB6;
}

.logo-name:hover text {
    fill: none;
    stroke: #FFFFFF;
}

.logo-name:hover text:nth-child(1),
.logo-name:hover text:nth-child(2) {
    stroke: #3DCFB6;
}